<!-- <div class="example-container">
    <h2>To do</h2>
  
    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList, emptyList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag (click)="updateTest(item)">
        <h3>{{item}}</h3>
        <p>Details of this todo note and would be very helpful</p>
      </div>
    </div>
  </div>

  <br>
  
  <div class="example-container">
    <h2>Done</h2>
  
    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList, emptyList, doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div>

  <br>

  <div class="example-container">
    <h2>Empty</h2>
  
    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      #emptyList="cdkDropList"
      [cdkDropListData]="emp"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of emp" cdkDrag>{{item}}</div>
    </div>
  </div> -->

  <div *ngFor="let container of ContainerList">
    <div class="example-container">
      <h1 class="container-heading">{{container.id}}</h1>
      <div
        cdkDropList
        id="{{container.id}}"
        cdkDropListOrientation="horizontal"
        #{{container}}="cdkDropList"
        [cdkDropListData]="container.list"
        [cdkDropListConnectedTo]="containerListIds"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <!-- <div class="example-box" *ngFor="let item of container.list" cdkDrag>{{item}}</div> -->
        <div class="example-box" *ngFor="let item of container.list" cdkDrag (click)="updateTest(item)">
          <h3>{{item}}</h3>
          <p>Details of this todo note would be very helpful</p>
        </div>
      </div>
    </div>

  </div>
  <button pButton label="Add new semester" (click)="addContainer()" class="sticky-example"></button>
  <br>
  <h1>Here's what you clicked last</h1>
  <div >{{test}}</div>
  
  